// Review what `@mixin` and `@include` mean.
// Do the same thing as in `sass-demo1.scss`.
@mixin important-text {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
  }
  
  .danger {
    @include important-text;
    background-color: green;
  }